# This file is originally from homeassistant/core and modified by pytest-homeassistant-custom-component.
astroid==3.0.1
mypy==1.8.0
pre-commit==3.6.0
pylint==3.0.3
types-requests==2.31.0.3
homeassistant-stubs==2024.1.3
